backcall==0.1.0
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
Django==2.2.24
idna==2.9
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
mysqlclient==1.4.6
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
PyMySQL==0.9.3
python-ldap==3.2.0
pytz==2020.1
requests==2.23.0
simplejson==3.17.0
six==1.14.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
xlrd==1.2.0
